
:root {
    --mantis: #7AC74F;
    --argentinian-blue: #4BB3FD;
    --ghost-white: #F7F7FF;
    --prussian-blue: #0B3954;
    --ut-orange: #FF8811;
}
html, body {
    height: 100%;
    margin: 0;

}
main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--ghost-white);
    color: var(--prussian-blue);
}


h1 {
    font-size: 2rem;
    margin: 0;
    color: var(--ghost-white);
}

p {
    line-height: 1.6;
    font-size: 1rem;
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--prussian-blue);
    padding: 1rem 2rem;
}

#header h1 {
    color: var(--mantis);
}

nav a {
    color: var(--ghost-white);
    text-decoration: none;
    margin-left: 1rem;
    font-weight: bold;
}

nav a:hover {
    color: var(--argentinian-blue);
}


main section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 3rem 5%;
    min-height: 80vh; 
}
.food-image {
    flex: 1;
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    border: 4px solid var(--mantis);
}

.text-content {
    flex: 1.2;
    font-size: 1.1rem;
    line-height: 1.8;
}

footer {
    background-color: var(--prussian-blue);
    color: var(--ghost-white);
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}