@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --mantis: #7ac74f;
  --argentinian-blue: #4bb3fd;
  --ghost-white: #f7f7ff;
  --prussian-blue: #0b3954;
  --ut-orange: #ff8811;
}

/* HEADER */

.navbar-custom {
  background-color: var(--prussian-blue) !important;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: var(--ghost-white) !important;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-custom .nav-link:hover,
.navbar-custom .nav-link.active {
  color: var(--mantis) !important;
}

.navbar-toggler {
  border-color: var(--ghost-white) !important;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.logo {
  height: 54px;
}

/* HEADER */

/* MAIN */

.qurt-section {
  padding: 5.3rem 1rem;
}

.qurt-image-wrapper {
  background-color: var(--prussian-blue);
  border-radius: 10px;
  padding: 10px;
  max-width: 570px;
  aspect-ratio: 3 / 2;
  margin: 0 auto;
}

.qurt-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
 }

 .qurt-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.qurt-text {
  font-size: 1.25rem;
  line-height: 1.6;
}

@media (max-width: 767.98px) {
  .qurt-section {
  text-align: center;
 }
}

/* MAIN */

/* FOOTER */

.grid {
  display: grid;
  column-gap: 64px;
  row-gap: 96px;
}

.footer {
  padding: 64px 0;
  border-top: 1px solid #eee;
  background-color: var(--prussian-blue) !important;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 32px;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
}

.social-icon {
  height: 24px;
  width: 24px;
}

.copyright {
  font-size: 14px;
  line-height: 1.6;
  color: #dedee6;
  margin-top: 24px;
}

.footer-heading {
  padding-top: 24px;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #f7f7ff;
}

.contacts {
  font-style: normal;
  font-size: 16px;
  line-height: 1.6;
}

.address {
  margin-bottom: 24px;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 16px;
  color: #dedee6;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #adadb3;
}

.team-col {
  margin-top: 24px;
}

.team-p {
  color: #f7f7ff;
}